<h1 class="p-2">Stupid Coaching</h1>
<form action="/answer" data-turbo="false" class="p-3">
  <input type="text" name="question" placeholder="Ask something">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
